- if devise_mapping.omniauthable?
  - Rails.application.config.omniauth_providers.each do |provider, name|
    .medium-3.large-3.text-center.columns
      = link_to name, omniauth_authorize_path(resource_name, provider), class: "button #{provider}"