%footer.panel
  .row
    .medium-6.large-6.columns © Copyright no one at all. Go to town.
    .medium-6.large-6.columns
      %ul.inline-list.right
        %li
          %a{:href => "#"} link
        %li
          %a{:href => "#"} link
        %li
          %a{:href => "#"} link
        %li
          %a{:href => "#"} link
