.nested-fields
  .row
    .large-12.columns
      = f.input :name
  .row
    .large-12.columns
      = f.input :quantity
  .row
    .large-12.columns
      = f.input :measure
  = link_to_remove_association "видалити", f