# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 96cd9e0c48f04a9fefa7d490e39b820f09ba9dc26a8fd9344dc05e5d26b95390234527ccfbdbd8aff99a7e61f9ade02690fe974e8d581da1de4fc58627e92d53

test:
  secret_key_base: bd00ab8151628dce93212caf625084612e3ac99be06870b63f306ddee437e4d8d85fc3dd3195aa25fe4d6bbd56b4f3c0def6e980c44d92928b60f9e45e1cb56e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
