/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require foundation-icons
 *= require_tree .
 *= require_self
 */
 body {
   background:#e9e9e9;
 }
.button:visited {
  color:#fff;
}

.button.vkontakte {
    background-color: #5d82d1;
}

.button.vkontakte:hover {
    background-color: #5177c1;
}

.button.facebook {
    background-color: #466cbb;
}

.button.facebook:hover {
    background-color: #3960af;
}

.button.twitter {
    background-color: #40bff5;
}

.button.twitter:hover {
    background-color: #30b1e8;
}

.button.gplus {
    background-color: #eb5e4c;
}

.button.gplus:hover {
    background-color: #dd5847;
}
